@page "/"
@using Models
@using Services
@inject IHubbleService HubbleService
<h1>Telescope Snapshots</h1>

@if (images == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table>
        <tbody>
            @for (int i = 0; i < NumberOfRows; i++)
            {
                <tr>
                    @foreach (var image in images)
                    {
                        <td>
                            <div>
                                <img src="@image.Image" />
                            </div>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
}

@code {
    IEnumerable<HubbleImage> images = new List<HubbleImage>();
    public int NumberOfRows { get; set; } = 10;

    protected override async Task OnInitializedAsync()
    {
        images = await HubbleService.GetAllImages();
    }
}
