@page "/"
@using Models
@using Services
@inject HttpClient HubbleService

<h1>Telescope Snapshots</h1>

@if (images == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table>
        <tbody>
            @for (int i = 0; i < NumberOfRows; i++)
            {
                <tr>
                    @foreach (var image in images)
                    {
                        <td>
                            <div>
                                <img src="@image.Image" />
                            </div>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
}

@code {
    public int NumberOfRows { get; set; } = 10;
    private const string ServiceEndpoint = "https://hubblesite.org/api/v3/videos/all?page=all";
    private HubbleImage[] images;


    protected override async Task OnInitializedAsync() => await GetTodoItems();

    private async Task GetTodoItems() => images = await HubbleService.GetFromJsonAsync<HubbleImage[]>(ServiceEndpoint);


}
