@page "/TypewriterTextAnimation"

<div class="container">
    <div class="wrapper">
        <div class="static-txt">
            Yo soy
        </div>
        <ul class="dynamic-txts">
            <li><span>Analista</span></li>
            <li><span>Desarrollador</span></li>
            <li><span>Arquitecto</span></li>
            <li><span>A U T Ó N O M O.</span></li>
        </ul>
    </div>
</div>

@code {

}
