@page "/"
@page "/VerticalCardSlidingAnimation"

    <div class="container">
        <div class="wrapper">
            <div class="card" style="--delay:-1">
                <div class="content">
                    <div class="img">
                        <img src="/assets/img/pic01.jpg" alt="" />
                    </div>
                    <div class="details">
                        <span class="name">Matías Argüello</span>
                        <p>CEO - Desarrollo y Soporte</p>
                    </div>
                </div>
                <a href="#">Seguir</a>
            </div>

            <div class="card" style="--delay:0">
                <div class="content">
                    <div class="img">
                        <img src="/assets/img/pic02.jpg" alt="" />
                    </div>
                    <div class="details">
                        <span class="name">Martín Bianco</span>
                        <p>Gestión en Sistemas</p>
                    </div>
                </div>
                <a href="#">Seguir</a>
            </div>

            <div class="card" style="--delay:1">
                <div class="content">
                    <div class="img">
                        <img src="/assets/img/pic03.jpg" alt="" />
                    </div>
                    <div class="details">
                        <span class="name">Santiago Cappri</span>
                        <p>Branding UX</p>
                    </div>
                </div>
                <a href="#">Seguir</a>
            </div>

            <div class="card" style="--delay:2">
                <div class="content">
                    <div class="img">
                        <img src="/assets/img/pic04.jpg" alt="" />
                    </div>
                    <div class="details">
                        <span class="name">Mara Pereyra</span>
                        <p>Redes Sociales</p>
                    </div>
                </div>
                <a href="#">Seguir</a>
            </div>

            <div class="card" style="--delay:2">
                <div class="content">
                    <div class="img">
                        <img src="/assets/img/pic05.png" alt="" />
                    </div>
                    <div class="details">
                        <span class="name">Proceso Autónomo</span>
                        <p>Team.</p>
                    </div>
                </div>
                <a href="#">Seguir</a>
            </div>
        </div>
    </div>


    @code {

    }
