<div>
    <input type="checkbox" id="active">
    <label for="active" class="menu-btn">═</label>
    <div class="wrapper">
        <ul>
            <li><a href="VerticalCardSlidingAnimation">Vertical Card Sliding Animation</a></li>
            <li><a href="TypewriterTextAnimation">Typewriter Text Animation</a></li>
            <li><a href="GlassmorphismCardHover">Glassmorphism Card Hover</a></li>
        </ul>
    </div>
</div>

@code {

}
